### **SOFTEX/UNIFEI** - **Curso de Introdução à Inteligência Artificial**

# **Módulo 3. Aprendizado de Máquina**

## ***Template de notebook para realização de Atividades Práticas*** 

### **Assunto:** Práticas de desenvolvimento de um notebook Google Colab para criação de modelos de aprendizado de máquina.

\
**Matrícula:** 2019005776\
**Nome:** Victor Eduardo Cauvilla de Oliveira\
**e-mail:** victoreca@unifei.edu.br\
**Turma:** 1\
**Última Edição:** 14/03/2023

**INFORMAÇÕES**
*   **Estas práticas não valem ponto** e **não precisam se entregues**. Sua realização é recomendada para auxiliar na fixação do conteúdo e para o desenvolvimento de modelos aplicáveis. **Dúvidas** poderão ser esclarecidas com o professor e monitores de preferência nas aulas presenciais ou enviadas para o e-mail softex@unifei.edu.br.

* **Tópico Abordado:** Processo de *Machine Learning*.

*   Este template é **recomendado para realização das práticas das aulas 05, 06, 07 e 08**. Altere-o como preferir ou utilize um de sua escolha, mas tente atender todas as atividades solicitadas.

> * Aula 05: relacionada aos itens 1 a 3 das atividades.
> * Aula 06: itens 4 e 5 dos modelos Não Supervisionados.
> * Aula 07: itens 4 e 5 dos modelos Supervisionados.

* **Objetivos:** Construção incremental de um modelo simples de aprendizado de máquina que considere as etapas de ''Coleta de Dados'' até "Teste e Avaliação do Modelo". O modelo deverá ser desenvolvido no Google Colab através de comandos básicos Python e respectivas bibliotecas.

----

**ATIVIDADES**

Com base no material disponibilizado ou outras referências que desejar, atenda as atividades solicitadas a seguir que são comumente realizadas no processo de *Machine Learning*. Não se prenda a estrutura deste templante, fique à vontade para personalizá-lo e inserir elementos que achar necessário para melhorar sua qualidade (ex. células de texto e de código, gráficos, figuras, explicações).

Construa um modelo não supervisionado e um modelo supervisionado para o dataset Iris (disponível [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/iris)). Se preferir, utilize um conjunto de dados de sua preferência que possibilite a aplicação de aprendizado de máquina.

**Siga o processo de Machine Learning:**

1. **Coleta dos Dados:** fique à vontade para escolher o formato de obtenção dos dados. Forneça informações sobre o conjunto de dados para melhor entendimento.

2. **Limpeza dos Dados:** verifique a necessidade de tratar os dados, explique os procedimentos que adotou. 

3. **Extração de Características**: se for utilizar o *dataset* Iris considere todos os quatro atributos do conjunto de dados. Se usar um de sua escolha explique o que motivou a seleção.

4.  **Modelagem**: construa os modelos solicitados conforme cada tipo de aprendizado.
  > **Modelo Não Supervisionado:**
> * A partir do conjunto de dados original obtenha um conjunto sem os rótulos de classe dos objetos que será usado para os experimentos.
> * Utilizar no mínimo dois classificadores (K-Means, outro da sua escolha)
>
  > **Modelo Supervisionado:**
> *  Utilize a proporção 75/25 para gerar os conjuntos de treinamento e teste.
> *  O treinamento deve ser feito com 3-*fold* cross-validation.
> *  Utilizar no mínimo dois classificadores (Decision Tree e outro da sua escolha)

5.  **Avaliação**: valide os modelos construídos conforme cada tipo de aprendizado.

  > **Modelo Não Supervisionado:**
> * Compare o resultado dos agrupamentos gerados utilizado como medidas o tempo de execução e uma medida externa de avaliação de sua preferência.
> * Utilize recursos visuais (ex. gráficos, tabelas, figuras) para mostrar os agrupamentos gerados.

  > **Modelo Supervisionado):**
> *  Compare o resultado dos modelos, avalie a matriz de confusão. 
> * Apresente os valores das métricas obtidas com a classificação ou regressão e discuta o que eles representam no contexto do cenário abordado.
> * Avalie a acurácia de treinamento e de teste dos modelos.
> * Para uma comparação justa considere os mesmos conjuntos de treinamento e de teste em ambos os modelos.

**OBSERVAÇÕES:** 

* Deixe claro no seu notebook os hiperparâmetros que foram considerados em cada método utilizado.
* Documente adequadamente seu código. 
* Nos resultados utilize recursos visuais sempre que possível (ex. gráficos, figuras, tabelas). É importante saber comunicar o que foi feito.

---

# **0. Preparação do Ambiente de Desenvolvimento**
Insira à seguir as bibliotecas e demais comandos de inicialização usados neste notebook que achar necessário para atender as atividades solicitadas.

In [55]:
#instalando Pandas Profiling
#!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [56]:
# Bibliotecas e demais comandos de inicialização
import numpy as np # Manipulação de matrizes
import pandas as pd #
from lxml import objectify # Permite usar XML como se fosse um objeto Python
import requests as req # Comunicação via Http
from bs4 import BeautifulSoup # Permite extrair dados de arquivos HTML e XML (parse).
from pandas_profiling import ProfileReport # Análise Exploratória de dados
import seaborn as sns
import matplotlib.pyplot as plt

---
## **1. Coleta e Preparação dos Dados**

Insira a seguir os procedimentos de Coleta dos Dados, Entendimento dos Dados e Preparação dos Dados (Limpeza, Extração).

**1.1 Coleta dos Dados**

In [57]:
# Código do procedimento para Coleta de Dados
title = ['Sepal Lenght in cm', 'Sepal Width in cm', 'Petal Lenght in cm', 'Petal Width in cm', 'Class']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=0, names=title)

**1.2 Entendimento dos Dados**

In [58]:
# Código do procedimento para Entendimento dos Dados

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sepal Lenght in cm  149 non-null    float64
 1   Sepal Width in cm   149 non-null    float64
 2   Petal Lenght in cm  149 non-null    float64
 3   Petal Width in cm   149 non-null    float64
 4   Class               149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [60]:
df.head()

,Sepal Lenght in cm,Sepal Width in cm,Petal Lenght in cm,Petal Width in cm,Class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa

In [61]:
df.tail()

,Sepal Lenght in cm,Sepal Width in cm,Petal Lenght in cm,Petal Width in cm,Class
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

In [62]:
df.describe(include='all')

,Sepal Lenght in cm,Sepal Width in cm,Petal Lenght in cm,Petal Width in cm,Class
count,149.000000,149.000000,149.000000,149.000000,149
unique,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,Iris-versicolor
freq,NaN,NaN,NaN,NaN,50
mean,5.848322,3.051007,3.774497,1.205369,NaN
std,0.828594,0.433499,1.759651,0.761292,NaN
min,4.300000,2.000000,1.000000,0.100000,NaN
25%,5.100000,2.800000,1.600000,0.300000,NaN
50%,5.800000,3.000000,4.400000,1.300000,NaN
75%,6.400000,3.300000,5.100000,1.800000,NaN
max,7.900000,4.400000,6.900000,2.500000,NaN

In [63]:
profile = ProfileReport(df, title='RELATÓRIO DO CONJUNTO DE DADOS', html={'style':{'full_width':True}})
profile.to_file(output_file="descrevendo_dados-IrisDataSet.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

**1.3 Preparação dos Dados**

In [64]:
# Código do procedimento para Preparação dos Dados e Extração de Características

In [65]:
df = df.applymap(lambda x: x * 10 if pd.api.types.is_number(x) else x).rename(columns={'Sepal Lenght in cm' : 'comp_sepal_mm', 'Sepal Width in cm' : 'larg_sepal_mm', 'Petal Lenght in cm' : 'comp_petal_mm', 'Petal Width in cm' : 'larg_petal_mm'}).astype({'comp_sepal_mm' : int ,'larg_sepal_mm' : int, 'comp_petal_mm' : int, 'larg_petal_mm' : int})

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   comp_sepal_mm  149 non-null    int32
 1   larg_sepal_mm  149 non-null    int32
 2   comp_petal_mm  149 non-null    int32
 3   larg_petal_mm  149 non-null    int32
 4   Class          149 non-null    object
dtypes: int32(4), object(1)
memory usage: 3.6+ KB

In [67]:
df.head()

   comp_sepal_mm  larg_sepal_mm  comp_petal_mm  larg_petal_mm        Class
0             49             30             14              2  Iris-setosa
1             47             32             13              2  Iris-setosa
2             46             31             15              2  Iris-setosa
3             50             36             14              2  Iris-setosa
4             54             39             17              4  Iris-setosa

In [68]:
df.tail()

,comp_sepal_mm,larg_sepal_mm,comp_petal_mm,larg_petal_mm,Class
144,67,30,52,23,Iris-virginica
145,63,25,50,19,Iris-virginica
146,65,30,52,20,Iris-virginica
147,62,34,54,23,Iris-virginica
148,59,30,51,18,Iris-virginica

In [69]:
df.describe(include='all')

,comp_sepal_mm,larg_sepal_mm,comp_petal_mm,larg_petal_mm,Class
count,149.000000,149.000000,149.000000,149.000000,149
unique,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,Iris-versicolor
freq,NaN,NaN,NaN,NaN,50
mean,58.483221,30.510067,37.744966,12.053691,NaN
std,8.285941,4.334989,17.596512,7.612920,NaN
min,43.000000,20.000000,10.000000,1.000000,NaN
25%,51.000000,28.000000,16.000000,3.000000,NaN
50%,58.000000,30.000000,44.000000,13.000000,NaN
75%,64.000000,33.000000,51.000000,18.000000,NaN
max,79.000000,44.000000,69.000000,25.000000,NaN

In [70]:
df.drop_duplicates(inplace=True)

In [71]:
df.groupby('Class').mean()

                 comp_sepal_mm  larg_sepal_mm  comp_petal_mm  larg_petal_mm
Class
Iris-setosa          50.085106      34.297872      14.638298       2.510638
Iris-versicolor      59.360000      27.700000      42.600000      13.260000
Iris-virginica       66.040816      29.795918      55.612245      20.285714

In [93]:
sns.pairplot(df, hue='Class')
plt.show()

NameError: name 'plt' is not defined

---
# **2. Modelagem**
Descreva a seguir os procedimentos de modelagem de um aprendizado Não Supervisionado para o agrupamento do conjunto de dados. Em seguida, faça o mesmo para os modelos Supervisionados.

## **2.1 MODELO NÃO SUPERVISIONADO**

### **Modelo 1 - \<*Nome do Método 1*\>**

In [73]:
#Código do Modelo Não Supervisionado 1

### **Modelo 2 - \<*Nome do Método 2*\>**

In [74]:
#Código do Modelo Não Supervisionado 2

---
## **2.2 MODELO SUPERVISIONADO**

### **Modelo 1 - \<*Nome do Método 1*\>**

In [75]:
# Código do Modelo Supervisionado 1

### **Modelo 2 - \<*Nome do Método 2*\>**

In [76]:
# Código do Modelo Supervisionado 2

---

# **3. Avaliação**

Descreva o resultado das suas modelagens considerando primeiro o Aprendizado Não Supervisionado e depois o Aprendizado Supervisionado.

## **3.1 MODELO NÃO SUPERVISIONADO**

In [77]:
# Código para apresentar os resultados da comparação dos modelos não supervisionados

## **2.2 MODELO SUPERVISIONADO**

In [78]:
# Código para apresentar os resultados da comparação dos modelos supervisionados



---


## **Referências**
* Insira as referências que utilizou para realização desta atividade.